#mainScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hotpink;
    z-index: -1;
}

.appbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(225, 225, 225, 0.95);
    border-bottom: 4px solid black;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    padding: 15px 25px;
}


.appbar h1 {
    font-size: clamp(1.8rem, 4vw, 2.6rem);
    margin: 0;
}


.nextPage1 {
    display: block;
    margin: 40px auto;
    font-size: 1.8rem;
    padding: 18px 40px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #000000, #333333);
    color: white;
    cursor: pointer;
    min-width: 260px;
    height: 70px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.15s ease, background 0.15s ease;
}
.nextPage1:hover {
    transform: translateY(-4px);
    background: linear-gradient(135deg, #222222, #444444);
}

.nextPage1:active {
    transform: translateY(0);
}





.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.hidden { 
    display: none; 
}

.back-btn{
      display: block;
    margin: 40px auto;
    font-size: 1.8rem;
    padding: 18px 40px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #000000, #333333);
    color: white;
    cursor: pointer;
    min-width: 260px;
    height: 70px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.15s ease, background 0.15s ease;
}

.back-btn:hover {
     transform: translateY(-4px);
     background: linear-gradient(135deg, #222222, #444444);

}

.back-btn:active {
     transform: translateY(0);
}


