#mainScreen {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: hotpink; 
    z-index: -1;
}

.appbar {
    position:fixed;
      top: 0;
      left: 0; 
      width: 100%;

      font-size: 2.5rem;
      font-weight: 600;
      margin: 0;
      color: black;
      background-color: rgba(225 , 225 , 225 , 0.95);
      padding: 15px 25px;
      border-bottom: 4px solid black;
      box-shadow: 0 8px 8px rgba(0 , 0 , 0 , 0.1);
      z-index: 1000;
      text-align: center;
}

.appbar h1 {
    margin: 0;
    font-size: 2.5rem;
}