* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: hotpink;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mainScreen {
    padding-top: 140px;
}

#LoveLetter {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#LoveLetter p {
    margin-top: 0;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

#LoveLetter2{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#LoveLetter2 p {
    margin-top: 0;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}


#backScreen {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#nextPage2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#nextPage3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

img {
    width: 300px;
    max-height: 400px;
    height: auto;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
